.rohydr-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  background-color: #1A1A1A;
  border: 1px solid #6D8FB6;
  padding: 16px;
  z-index: 9999;
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  height: 400px;
  width: 500px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
}

.rohydr-popup.show {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8), 0px 0px 40px rgba(255, 255, 255, 0.6), 0px 0px 50px rgba(255, 255, 255, 0.4);
}

.rohydr-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.rohydr-popup-header h3 {
  display: none;
}

.rohydr-button {
  background-color: #5a97dc;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 4px;
  margin-right: 8px;
  transition: background-color 0.2s ease-out;
}

.rohydr-button:hover {
  background-color: #2F4B6F;
}

.rohydr-popup-content {
  max-height: 220px;
  overflow-y: auto;
}

.rohydr-popup-content p {
  color: white;
}

.rohydr-glow {
  animation: rohydr-glow 1s ease-in-out infinite alternate;
}

@keyframes rohydr-glow {
  from {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  }
}
